<!-- <nav>
    <div class="site-title">
      <a href="/"><h1>ABNB Insurance</h1></a>
    </div>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/create">Create</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav> -->

  