<%- include('partials/head') %>

<!-- ================================Main Site================================ -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/addcustomer" class="border-shadow">
                <span class="text-gradient">New Customer <i class="fas fa-user"></i></span>
            </a>
        </div>
    

    <!-- form handling -->
    <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Customer Name:</th>
                    <th>Customer Email:</th>
                    <th>Photo of Receipt:</th>
                    <th>Start date of coverage:</th>
                </tr>
            </thead>
        </table>
    </form>
    </div>
</main>
