<!-- include header -->
<%- include('partials/head') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Customer</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Customer</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
        <%- include('partials/_form') %>
       
    </div>
</main>
